/*
========================================
Global
========================================
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: #e5e5e5;
  font-size: 12px;
  margin: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  text-decoration: underline;
  color: #cc0000;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}

h2 {
  font-size: 13px;
  margin: 0;
  font-weight: bold;
}

h3 {
  font-size: 12px;
}

p {
  line-height: 1.45;
}

/*
========================================
Master Container
========================================
*/
.master-container {
  margin: 0 auto;
  width: 1100px;
  background-color: white;
}

/*
========================================
Main Header
========================================
*/
.main-header {
  display: contents;
  flex-direction: column;
  justify-content: center;
  height: 151px;
  background-color: rgb(0, 51, 153);
  color: #ffffff;
}

.main-header ul {
  list-style-type: none;
}

.main-header a:link {
  color: #ffffff;
  font-weight: normal;
}

.main-header a:visited {
  color: #ffffff;
}

/*
========================================
Search Bar
========================================
*/
.search-bar {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
}

.search-bar form {
  justify-self: center;
  margin: 0;
}

.search-bar form [type="text"] {
  width: 180px;
}

.search-bar form [type="radio"] {
  margin-right: .33rem;
}

.search-bar ul {
  display: flex;
}

.submit-btn {
  margin: 8px;
  border: 1px solid black;
  padding: 2px 7px;
  background-color: #E0FFFF;
  font-size: 11px;
  border-color: rgb(186, 186, 186);
}

.topnav {
  padding: 0;
  margin: 8px;
}

.topnav li:first-child::after {
  content: '|';
  margin: .33rem;
}

.home {
  justify-self: start;
}

.signup {
  justify-self: end;
}

/*
========================================
Navigation Bar
========================================
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003399;
  padding: 15px 0;
  border-bottom: 2px solid #ccc;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar li::after {
  content: '|';
  margin: .33rem;
  color: black;
  font-size: 18px;
}

.navbar li:last-child::after {
  content: '';
}
.navbar a {
  font-size: 18px;
}

.navbar a:hover {
  color: #003399;
  font-size: 18px;
}

/*
========================================
Page Content Container
========================================
*/
.page-content-container {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-column-gap: 30px;
  grid-template-areas: "sidebar main";
  padding-right: 20px;
}

/*
========================================
Profile Sidebar Column
========================================
*/
.profile-sidebar {
  grid-area: sidebar;
  margin-left: 27px;
  width: 320px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
========================================
Profile Picture Container
========================================
*/
.profile-picture-container {
  display: grid;
  grid-template-columns: 190px 115px;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  margin-bottom: 18px;
  overflow: hidden;
  align-items: start;
}

.profile-picture-container p {
  margin: 0;
}

.profile-pic {
  grid-area: 1 / 1;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  border: 2px solid #ccc;
}

.personal-msg {
  grid-area: 1 / 2;
  margin: 0;
}

.gender-age {
  grid-area: 1 / 2;
}

.gender-age li:first-child {
  margin-top: 28px;
}

.last-login {
  grid-area: 1 / 2;
  align-self: end;
}

.last-login li:last-child {
  margin-bottom: 15px;
}

.pics-videos {
  grid-area: 1 / 1;
  justify-self: center;
  align-self: end;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px;
}

/*
========================================
Contact Box
========================================
*/
.contact-box {
  border: 2px solid rgb(102, 153, 204);
  width: 300px;
  margin-bottom: 24px;
}

.contact-box h2 {
  color: white;
  background-color: rgb(102, 153, 204);
  min-height: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.contact-images {
  display: grid;
  grid-template-columns: 150px 150px;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  
}

.contact-images svg {
  width: 1em;
  height: 1em;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin: 4px 8px;
  font-size: 12px; /* matches your site */
  color: (#e5e5e5);
}

/*
========================================
MySpace URL
========================================
*/
.myspace-url-box {
  width: 300px;
  border: 1px solid rgb(102, 153, 204);
  min-height: 36px;
  margin-bottom: 24px;
}

.myspace-url-box h3,
.myspace-url-box p {
  margin: 0;
  padding: 0;
}

.myspace-url-box h3 {
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

.myspace-url-box p {
  padding-left: 6px;
  padding-bottom: 4px;
}

/*
========================================
Sidebar Table Class
========================================
*/
.sidebar-table {
  border: 2px solid rgb(102, 153, 204);
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
  width: 300px;
}

.sidebar-table-h2 {
  background-color: rgb(102, 153, 204);
  color: white;
  text-align: left;
  min-height: 20px;
  padding-left: 15px;
  padding-top: 3px;
  font-size: 12px;
}

.sidebar-table-header {
  vertical-align: top;
  text-align: left;
  width: 107px;
  background-color: rgb(177, 208, 240);
  color: #336699;
  padding: 5px;
  font-weight: bold;
  font-size: 11px;
}

.sidebar-table-data {
  width: 184px;
  background-color: rgb(213, 232, 251);
  padding: 5px;
}

/*
========================================
Interests
========================================
*/
.interests p {
  margin-top: 0;
}

.interests p:only-child,
.interests p:last-child {
  margin-bottom: 0;
}

.interests table {
  margin-bottom: 13px;
}

/*
========================================
Details
========================================
*/
.details table {
  margin-bottom: 22px;
}

/*
========================================
Schools
========================================
*/
.schools .sidebar-table-header {
  width: 228px;
  color: black;
  font-weight: normal;
}

.schools {
  margin-bottom: 24px;
}

.schools .sidebar-table-data {
  width: 63px;
  text-align: center;
  vertical-align: top;
}

.schools ul {
  margin-bottom: 1em;
}

.schools li {
  margin-bottom: 2px;
}

/*
========================================
Main Column
========================================
*/
main {
  grid-area: main;
  min-width: 0;
}

/*
========================================
User Network
========================================
*/
.user-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 680px;
  margin: 13px auto 0 auto;
  min-height: 85px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.user-network h2 {
  font-size: 18px;
}

.divider {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  margin: 30px 0 30px -5px;
}

.divider-small {
  width: 325px;
  height: auto;
  display: block;
}
/*
========================================
Blog / Selected Research
========================================
*/
.blog {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.blog > p {
  margin-top: 3px;
  margin-bottom: 12px;
}

.blog details {
  margin-bottom: 12px;
  padding: 10px 12px;
  border: 1px solid #999;
  background-color: #f7f7f7;
  width: 100%;
}

.blog summary {
  cursor: pointer;
  font-weight: bold;
  color: #003399;
  list-style: none;
}
.blog summary:hover {
  color: #cc0000;
  text-decoration: underline;
}

.blog details[open] summary {
  color: #cc0000;
}

.blog summary::-webkit-details-marker {
  display: none;
}

.blog summary::before {
  content: "▶ ";
}

.blog details[open] summary::before {
  content: "▼ ";
}

.blog details p {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
  overflow-wrap: break-word;
}

/*
========================================
Blurbs
========================================
*/
.main-section-header {
  background-color: #ffcc99;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.main-section-h2 {
  color: #FF6600;
  margin-left: 20px;
  font-size: 13px;
}

.blurbs h3 {
  margin: 0;
  color: #FF6600;
  font-size: 13px;
  margin-left: 0px;
}

.blurbs p:nth-of-type(5) {
  margin-bottom: 2em;
}

.blurbs p {
  margin: 0 12px 15px 0px;
}

.blurbs {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.friends {
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
}
.blinkie {
  height: 20px;
  vertical-align: middle;
  margin-left: 0;
}
/*
========================================
Friend Space
========================================
*/
.friends header {
  margin-bottom: 6px;
}

.friends p:nth-of-type(1) {
  margin-top: 0;
  margin-left: 15px;
}

.focus-highlight {
  color: #cc0000;
  font-weight: normal;
  font-size: 13px;
}

.friend-pic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.friend-pic-container figure {
  margin: 0px;
  padding: 0;
  text-align: center;
}

.friend-pic-container img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  display: block;
  background: transparent;
  border: none;
}

.friend-pic-container figcaption {
  color: #003399;
  margin-top: 8px;
  margin-bottom: 8px; 
  font-size: 13px;
}

.friends-list-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 30px;
}

.friends-list-link a {
  color: #cc0000;
}

/*
========================================
Comment Wall
========================================
*/
.comment-wall .main-section-header {
  margin-bottom: 3px;
}

.comment-wall .main-section-h2 {
  margin-bottom: 0;
}

#comment-counter {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 3px;
}

.comment-wall table {
  margin: auto;
  margin-bottom: 5px;
  width: calc(100% - 20px);
}

.comment-wall th {
  background-color: rgb(255, 153, 51);
  width: 170px;
  padding: 5px;
  vertical-align: top;
}

.comment-wall td {
  vertical-align: top;
  background-color: rgb(249, 214, 180);
  width: auto;
  padding: 5px;
}

.comment-wall figcaption,
.comment-wall figure {
  margin: 0;
}

.comment-wall figcaption {
  margin-bottom: 1em;
}

.comment-wall figure {
  margin-bottom: 20px;
}

.comment-wall h3 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 1em;
}

.comment-wall p {
  font-weight: normal;
  text-align: left;
  margin: 0;
}

#add-comment {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*
========================================
Footer
========================================
*/
footer {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #e5e5e5;
  padding: 12px;
  min-height: 70px;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: underline;
  font-weight: normal;
  font-size: 11px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 6px;
}

footer li:after {
  content: ' | ';
  font-weight: normal;
}

#last:after {
  content: none;
}

footer small {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  margin-top: 8px;
  width: 100%;
}
