---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% for post in site.portfolio %}

<p>
  <h2>{{ post.title }}</h2>

  {% if post.status %}
    <em>{{ post.status }}</em><br>
  {% endif %}

  {% if post.paperurl or post.availability %}
    Available
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">here</a>
    {% elsif post.availability %}
      {{ post.availability }}
    {% endif %}
    <br>
  {% endif %}
</p>

<details>
  <summary>Abstract</summary>
  <p>{{ post.excerpt }}</p>
</details>

{% endfor %}
